*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

nav{
    padding: 32px 32px;
    min-height: 80px;
    background-color: beige;
}

nav img {
    max-height: 48px;
}

.spacer {
    border: 1px solid red;
    display: inline-block;
    /** Parent width - Logo width - Text width **/
    width: calc(100% - 50px - 275px);
}

nav ul {
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: bottom;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0px;
}

nav ul li a.current {
    font-weight: bold;
}
    
nav ul li a:link,
nav ul li a:visited {
    color: brown
}
nav ul li a:hover {
    color:blueviolet
}

nav ul li a:active {
    color: lightgreen
}